<!DOCTYPE html>
<html>
	<head>
		<title>Animal Rescue Service</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="stylesheet" type="text/css" href="../static/staff.css">
	</head>
	<body>
		<header>
			<h1>Animal Rescue Service</h1>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="service-home.html">Services</a></li>
					<li><a href="booking.html">Book a Pet Visit</a></li>
					<li><a href="login.html">Login</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div>
				<h2>Welcome to Animal Rescue Service</h2>
				<p>We are a non-profit animal rescue organization dedicated to helping animals in need. Our mission is to provide shelter, medical care, and a loving home to all animals that come our way.</p>
				<p>Whether you're looking to adopt a pet, volunteer your time, or make a donation, we appreciate your support and commitment to animal welfare.</p>
			</div>

			<div class="space"></div>

			<div>
				<h2>About Us</h2>
		    	<p>Animal Rescue Service is a non-profit organization dedicated to rescuing and rehoming pets in need. Our mission is to provide a safe and loving environment for animals that have been abandoned, neglected, or abused, and to find them permanent homes where they will be treated with the love and respect they deserve.</p>
		    	<h3>Our Team</h3>
		    	<p>Our team of dedicated volunteers includes experienced veterinarians, animal behaviorists, and passionate animal lovers. We work tirelessly to ensure that every animal in our care receives the medical attention, socialization, and training they need to thrive.</p>
		    	
				<ul class="staff-ul">
					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 1">
					  <h3>Name 1</h3>
					  <p class="staff-p">Position 1</p>
					</li>
					
					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 2">
					  <h3>Name 2</h3>
					  <p class="staff-p">Position 2</p>
					</li>
					
					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 3">
					  <h3>Name 3</h3>
					  <p class="staff-p">Position 3</p>
					</li>

					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 4">
					  <h3>Name 4</h3>
					  <p class="staff-p">Position 4</p>
					</li>

				</ul>

				<ul class="staff-ul">
					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 5">
					  <h3>Name 5</h3>
					  <p class="staff-p">Position 5</p>
					</li>
					
					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 6">
					  <h3>Name 6</h3>
					  <p class="staff-p">Position 6</p>
					</li>
					
					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 7">
					  <h3>Name 7</h3>
					  <p class="staff-p">Position 7</p>
					</li>

					<li class="staff-li">
					  <img src="../Images/person.png" alt="Staff 8">
					  <h3>Name 8</h3>
					  <p class="staff-p">Position 8</p>
					</li>
				</ul>

				<h3>Our Services</h3>
		    	<ul>
			    	<li>Rescue and rehoming of abandoned and abused pets</li>
			    	<li>Low-cost spay/neuter services</li>
			    	<li>Behavioral consultations and training classes</li>
			    	<li>Community outreach and education</li>
			    	<li>Emergency medical care and transport</li>
		    	</ul>
			</div>

			<div class="space"></div>

			<div>
				<h2>Contact Us</h2>
				<div class="contact">
					<div>
						<p>Ho Chi Minh City, Vietnam</p>
  						<p>Hanoi City, Vietnam</p>
					</div>
					<div>
						<p>Phone: (+84) 12-345-6789</p>
						<p>Email: <a href="https://mail.google.com/mail/?view=cm&fs=1&to=aniresservice@gmail.com" target="_blank">aniresservice@gmail.com</a></p>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<p>&copy; 2023 Animal Rescue Service</p>
		</footer>
	</body>
</html>
